
$MAP_SIZE: 600px;

.MapView {
  display: inline-block;
  position: relative;

  width: $MAP_SIZE;
  height: $MAP_SIZE;

  white-space: nowrap;

  overflow: auto;

  &-row {
    line-height: 0.8;
  }
}
