
.ZoomControl {
  // Keep the zoom control within the map view at all times
  position: fixed;
  margin-left: 15px;
  margin-top: 15px;

  display: flex;
  flex-direction: column;

  border: 1px solid #666;

  &-button {
    color: #666;

    font-size: 20px;
    font-weight: bold;

    height: 35px;
    width: 35px;
    cursor: pointer;

    // reet default styles
    border: none;
    background: #eee;

    &:hover {
      color: darkblue;
      background: #bbb;
    }

    &:focus {
      outline: 0;
    }
  }
}
